.wp5{width:45px}
.w10{width:95px}
.w20{width:195px}
.w30{width:295px}
.w40{width:395px}
.w50{width:495px}
.w60{width:595px}
.w70{width:695px}
.w75{width:745px}
.w80{width:795px}
.w90{width:895px}
.hp5{height:45px}
.h10{height:95px}
.h15{height:145px}
.h20{height:195px}
.h30{height:295px}
.h40{height:395px}
.h50{height:495px}
.h60{height:595px}
.h70{height:695px}
.h75{height:745px}
.h80{height:795px}
.h90{height:895px}


/* 颜色 */
.blue{background-color:#00F}
.chartreuse{background-color:#7FFF00}
.darkseagreen{background-color:#8FBC8F}
.dodgerblue{background-color:#1E90FF}
.deepskyblue{background-color:#00BFFF}
.green{background-color:#080}
.indigo{background-color:#4B0082}
.red{background-color:#F00}
.skyblue{background-color:#87CEEB}
.springgreen{background-color:#00FF7F}
.yellow{background-color:#FF0}

body{margin-top:0px; background-color:#4B0082; font-family:"微软雅黑"}
div.container{width:900px; margin-left:auto; margin-right:auto}
div.chip{float:left; margin-right:5px; margin-bottom:5px; position:relative}
span.areaname{font-size:16px}
span.chiptext{position:absolute; bottom:5px; right:5px; color:#FFF}
span.videotitle{position:absolute; bottom:5px; text-align:center}