<div class="container">
	<div class="w10 h10 chip green"><span class="chiptext areaname">MAD</span></div>
	<div class="w70 h10 chip springgreen"><span class="videotitle"></span></div>
	<div class="w10 h10 chip green">
		<img class="w10 h10" src="images/avatars/01.png" />
	</div>
	<div class="w80 hp5 chip yellow"></div>
	<div class="wp5 hp5 chip skyblue"></div>
	<div class="wp5 hp5 chip skyblue"></div>
	
</div>
<div class="container">
	<embed id="MukioPlayer" src="mukioplayerplus.swf" width="895px" height="480px"type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" allowfullscreen="true" runat="server" flashvars="file=video/{vid}.flv&cid={vid}"/>
</div>
<div class="container">
	<div class="w80 h10 chip deepskyblue"></div>
	<div class="w10 h10 chip green"></div>
</div>