<div class="container">
	<div class="w10 h10 chip green"><span class="chiptext areaname">MAD</span></div>
	<div class="w90 h10 chip darkturquoise"><span class="chiptext videotitle">{title}</span></div>
	<div class="w10 h10 chip green">
		<img class="w10 h10" src="images/avatars/02.jpg" />
	</div>
	<div class="w100 hp5 chip powderblue"></div>
	<div class="wp5 hp5 chip skyblue"></div>
	<div class="wp5 hp5 chip dodgerblue"></div>
	
</div>
<div class="container">
	<embed id="MukioPlayer" src="mukioplayerplus.swf" width="1095px" height="480px" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" allowfullscreen="true" runat="server" flashvars="file=video/{vid}.flv&cid={vid}"/>
</div>
<div class="container">
	<div id="description" class="w90 h10 chip deepskyblue">
		<p class="description">{description}</p>
	</div>
	<div id="tag" class="w20 h10 chip green"></div>
</div>
<div class="container">
	<div id="comment" class="w10 h10 chip forestgreen">
		<span class="chiptext areaname">评论</span>
	</div>
	<div id="comment-list" class="w70 h10 chip darkturquoise"></div>
	<div id="point" class="w10 h10 chip forestgreen">
		<span class="chiptext areaname">评分</span>
	</div>
	<div id="point-list" class="w20 h10 chip darkturquoise"></div>
</div>
