<div class="container">
	<div class="w10 h10 chip green"><span class="chiptext areaname">MAD</span></div>
	<div class="w70 h10 chip darkturquoise"><span class="chiptext videotitle">[Key社]late in autumn--6分钟叙述Key社作中众生的悲欢离合</span></div>
	<div class="w10 h10 chip green">
		<img class="w10 h10" src="images/avatars/02.jpg" />
	</div>
	<div class="w80 hp5 chip powderblue"></div>
	<div class="wp5 hp5 chip skyblue"></div>
	<div class="wp5 hp5 chip dodgerblue"></div>
	
</div>
<div class="container">
	<embed id="MukioPlayer" src="mukioplayerplus.swf" width="895px" height="480px" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" allowfullscreen="true" runat="server" flashvars="file=video/{vid}.flv&cid={vid}"/>
</div>
<div class="container">
	<div id="description" class="w70 h10 chip deepskyblue">
		<p class="description">修复LB的tag问题 6分钟MAD略长…终于做完了。Key社带给大家的感动在此就不过多赘述了,请诸位静下心来欣赏体会罢——本来是准备参加MAD大赛的坑,暑假忙于各其它事务未能填上,前段时间又因开学忙于他事,为了有始有终这几日狠下心来填完了…特别感谢Z·Dark、LittlePox、肤浅君(汐渚之岸)。十月中旬前后会因3次元之事离开B站,归期不定,但愿这不是我最后1个MAD罢…</p>
	</div>
	<div id="tag" class="w20 h10 chip green"></div>
</div>
<div class="container">
	<div id="comment" class="w10 h10 chip forestgreen">
		<span class="chiptext areaname">评论</span>
	</div>
	<div id="comment-list" class="w50 h10 chip darkturquoise"></div>
	<div id="point" class="w10 h10 chip forestgreen">
		<span class="chiptext areaname">评分</span>
	</div>
	<div id="point-list" class="w20 h10 chip darkturquoise"></div>
</div>
